{% extends 'index.html' %}

{% block content %}
    <div class="contact">
        <div class="container">
		    <ol class="breadcrumb">
		        <li><a href="{% url 'home_page:home_page_view' %}">Додому</a></li>
		        <li class="active">Контакти</li>
		    </ol>
			<!--start contact-->
			<h3>Наші Контакти</h3>
            <div class="section group">
                <div class="col-md-6 span_1_of_3">
                    <div class="contact_info">
                        <h4>Знайдіть Нас Тут</h4>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1323.2095026279685!2d35.059992085328155!3d48.44848962007844!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe31b3b310dcb%3A0x92a5e1f2af6a14fe!2z0KLQvtGA0YjQtdGA!5e0!3m2!1sru!2snl!4v1669941802324!5m2!1sru!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="company_address">
                        <h4>Інформація Компанії :</h4>
                        <p>м. {{ contacts.location_city }}</p>
                        <p>{{ contacts.location }}</p>
                        <p>Наш Телефон: {{ contacts.call_1 }}</p>
                        <p>Наш Телефон: {{ contacts.call_2 }}</p>
                        <p>Email: <a href="{{ contacts.e_mail_1}}">{{ contacts.e_mail_1}}</a></p>
                        <p>Email: <a href="{{ contacts.e_mail_2}}">{{ contacts.e_mail_2}}</a></p>
                        <p>Группи: <a href="{{ contacts.facebook }}">Facebook</a>, <a href="{{ contacts.twitter }}">Twitter</a>,
                        <a href="{{ contacts.telegram }}">Telegram</a>, <a href="{{ contacts.twitter }}">Twitter</a>,
                        <a href="{{ contacts.viber }}">Viber</a></p>
                    </div>
                </div>
                <div class="col-md-6 span_2_of_3">
                    <div class="contact-form">
                        <form method="post">
                            {% csrf_token %}
                            <div>
                                <span><label>Ваше Ім'я</label></span>
                                {{ form_massage.name }}
                            </div>
                            <div>
                                <span><label>E-MAIL</label></span>
                                {{ form_massage.email }}
                            </div>
                            <div>
                                <span><label>Номер Телефона</label></span>
                                {{ form_massage.phone }}
                            </div>
                            <div>
                                <span><label>Повідомлення</label></span>
                                {{ form_massage.message }}
                            </div>
                            <div>
                                {{ form_massage.captcha }}
                            </div>
                                {{ form_massage.errors }}
                            <div>
                                <span><input type="submit" class="mybutton" value="Відправити повідомлення"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
	    </div>
    </div>
{% endblock %}