{% extends base_template %}

{% block main %}
    <div class="bottom-prdt">
        <div class="btm-grid-sec">
            <div class="text-center">
                {% include 'pagination/tags/pagination.html' %}
            </div>
            <main id="main">
                {% for item in page_obj %}
                    <div class="col-md-2 btm-grid">
                        <a href="{{ item.get_absolute_url }}">
                        <img src="{{ item.image1.url }}" class="img-responsive" alt="images/no_image.png"/>
                        <h4>{{ item.title }}</h4>
                        <span>${{ item.price_with_discount }}</span>
                        </a>
                    </div>
                {% endfor %}
            </main>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}