{% extends 'index.html' %}

{% block content %}
    <section id="reserves">
        <div class="container">
            <div class="col-md-12 col=md-offset-1">
                <ol class="breadcrumb">
                    <li><a href="{% url 'home_page:home_page_view' %}">Додому</a></li>
                    <li class="active">Повідомлення</li>
                </ol>
                <table>
                    <caption>
                        Повідомлення від клієнтів
                    </caption>
                    <tr>
                        <th>Повідомлення</th>
                        <th>Від кого</th>
                        <th>Контакт</th>
                        <th>Email adress</th>
                        <th>Дата надходження</th>
                        <th></th>
                    </tr>
                    {% for message in message_list %}
                        <tr>
                            <td>{{ message.message}}</td>
                            <td>{{ message.name }}</td>
                            <td>{{ message.phone }}</td>
                            <td>{{ message.email }}</td>
                            <td>{{ message.date_in }}</td>
                            <td><a href="{% url 'manager:add_archive' pk=message.pk %}">
                                    <button type="button" class="btn btn-primary">Відправити до архіву</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
{% endblock %}