{% extends "index.html" %}
{% block content %}
    <div class="login_sec">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{% url 'home_page:home_page_view' %}">Додому</a></li>
                <li class="active">зміна паролю</li>
            </ol>
            <h2>Підтвердити скидання пароля</h2><hr>
            <div class="col-md-6 log">
                <p>Будь ласка, введіть свій новий пароль.</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Скинути пароль">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}