{% extends 'index.html' %}
{% block content %}
    <div class="login_sec">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{% url 'home_page:home_page_view' %}">Додому</a></li>
                <li class="active">Скинути пароль</li>
            </ol>
            <h2>Скинути пароль?</h2>
            <div class="col-md-6 log">
                <p>Забули свій пароль? Введіть вашу email адресу нижче,
                   і ми надішлемо електронною поштою інструкції щодо встановлення нового</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Скинути пароль">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}