{% extends 'index.html' %}
{% block content %}
    <div class="login_sec">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{% url 'home_page:home_page_view' %}">Додому</a></li>
                <li class="active">зміна паролю</li>
            </ol>
            <h2>Змініть свій пароль</h2>
            <div class="col-md-6 log">
                <p>Використовуйте форму нижче, щоб змінити свій пароль.</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Змінити">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}