{% autoescape off %}
    Привіт {{ user }},

    Ми отримали запит на скидання пароля вашого облікового запису для цієї електронної адреси.
    Щоб розпочати процес зміни пароля для свого облікового запису, натисніть посилання нижче.

    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Перейти</a>

    Це посилання можна використати лише один раз. Якщо вам потрібно знову скинути пароль,
    відвідайте і <a href="{{ protocol }}://{{domain}}">подайте запит</a> на повторне скидання.

    Якщо ви не надсилали цей запит, ви можете просто проігнорувати цей електронний лист.

    З повагою, "Торшер"
{% endautoescape %}