<!-- check out -->
<div class="container">
    <div class="check-sec">
        <div class="col-md-3 cart-total">
            <a class="continue" href="{% url 'product:products_list' %}">Продовжити покупки</a>

            {% include 'order_detail.html' %}

            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <a class="order" href="{% url 'order:order' %}">Зробити замовлення</a>
            <div class="total-item">
                <form method="post" action="{% url 'coupons:activated_coupon' %}">
                    {% csrf_token %}
                    {{ coupons_activated_form.as_p }}
                    <input class="item_add" type="submit" value="застосувати">
                </form>
            </div>
        </div>

        {% include 'cart_list_product.html' %}

        <div class="clearfix"> </div>
    </div>
</div>
<!-- //check out -->