{% load static %}
{% load news_letter_tags %}
{% load header_tags %}
{% load footer_tags %}

<!DOCTYPE html>
<head>
<title>Торшер</title>
<link rel="shortcut icon" type="image/png" href="{% static "images/2566095652_w200_h100_torsher.png" %}">
<link rel="stylesheet" type="text/css" media="all" href={% static "css/bootstrap.css" %} />
<link rel="stylesheet" type="text/css" media="all" href={% static "css/style.css" %} />

<meta name="htmx-config" content='{"historyCacheSize": 15}'>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates,
                               Andriod Compatible web template, Smartphone Compatible web template,
                               free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<link rel="stylesheet" type="text/css" media="all" href={% static "css/memenu.css" %} />
<link rel="stylesheet" type="text/css" media="all" href={% static "css/form.css" %} />
<link rel="stylesheet" type="text/css" href={% static "css/jquery-ui.css" %}>
<link rel="stylesheet" type="text/css" media="screen" href={% static "css/flexslider.css" %} />
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<!--header-->
<div class="header-top">
    <div class="header-bottom">
        <div class="logo">
            <h1><a href="{% url 'home_page:home_page_view' %}">Toршер</a></h1>
        </div>
        <!---->
        <div class="top-nav">
            <ul class="memenu skyblue">
                {% header_view %}

                {% if 'Менеджер' in user.groups.all.0.name %}
                    <li class="grid"><a href="{% url 'manager:message_list' %}">повідомлення</a></li>
                    <li class="grid"><a href="{% url 'manager:orders_list' %}">замовлення</a></li>
                    <li class="grid"><a href="{% url 'send_email:contact' %}">відправка новин</a></li>
                {% endif %}

                {% if request.user.is_authenticated %}
                    <li class="grid"><a href="{% url 'logout' %}">Вийти</a></li>
                {% else %}
                    <li class="grid"><a href="{% url 'login' %}">вхід/реєстрація</a></li>
                {% endif %}
            </ul>
        </div>
        <!---->

        {% if cart|length > 0 %}
            <div class="cart box_1">
                <a href="{% url 'cart:cart_detail' %}">
                    <div class="total">
                    <a>₴ {{ cart.get_total_price }}грн ({{ cart|length }})</a></div>
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                </a>
                <p><a href="{% url 'cart:cart_detail' %}">Кошик</a></p>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        {% endif %}
        <!---->
    </div>
    <div class="clearfix"> </div>
</div>
<!--content-->
<div class="container">
    <div class="text-center">
        {% include 'includes/messages.html' %}
    </div>
</div>
{% block content %}
{% endblock %}
<!--news_latter-->
{% news_letter_form %}
<!--footer-->
{% footer_view %}
<!--scripts-->
<script src="{% static 'js/htmx/debug.js' %}"></script>
<script src="{% static 'js/htmx/htmx.min.js' %}" defer></script>

<script src={% static "js/jquery.min.js" %}></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); }
</script>
<script type="text/javascript" id="sourcecode" src={% static "js/jScrollPane.js" %}></script>
<script type="text/javascript" src={% static "js/memenu.js" %}></script>
<script type="text/javascript" src={% static "js/jquery.jscrollpane.min.js" %}></script>
<script type="text/javascript" src={% static "js/jquery-ui.min.js" %}></script>
<script type='text/javascript' src={% static "js/slider-range.js" %}></script>
<script src={% static "js/main.js" %}></script>
<script defer src={% static "js/jquery.flexslider.js" %}></script>
<script src={% static "js/imagezoom.js" %}></script>
<script src={% static "js/responsiveslides.min.js" %}></script>
<script src={% static "js/bootstrap.js" %}> </script>
<script src={% static "js/simpleCart.min.js" %}> </script>
</body>
