{% load static %}
<div class="offers">
    <div class="container">
        <h3>Важливі Новини</h3>
        <div class="offer-grids">
             <div class="col-md-6 grid-left">
                 <a href="{% url 'product:products_list' %}"><div class="offer-grid1">
                     <div class="ofr-pic">
                         <img src="{% if news.left_block.image %}{{ news.left_block.image.url }}
                                   {% else %}{% static 'images/no_image.png' %}{% endif %}"
                              class="img-responsive" alt=""/>
                     </div>
                     <div class="ofr-pic-info">
                         <h4>{{ news.left_block.description }}</h4>
                         <span>{{ news.left_block.title }}</span>
                         <p>До магазину</p>
                     </div>
                     <div class="clearfix"></div>
                 </div></a>
             </div>
             <div class="col-md-6 grid-right">
                 <a href="{% url 'product:products_list' %}"><div class="offer-grid2">
                     <div class="ofr-pic-info2">
                         <span>{{ news.right_block.title }}</span>
                         <h5>{{ news.right_block.description }}</h5>
                         <p>До магазину</p>
                     </div>
                     <div class="ofr-pic2">
                         <img src="{% if news.right_block.image %}{{ news.right_block.image.url }}
                                   {% else %}{% static 'images/no_image.png' %}{% endif %}"
                              class="img-responsive" alt=""/>
                     </div>
                     <div class="clearfix"></div>
                 </div></a>
             </div>
        </div>
    </div>
</div>
